*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    margin-bottom: 0;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.projects-section {
    background-color: #f8f9fa;
    text-align: center;
    color: #333;
    display: flex;
}


.Banner{
    justify-content: center;
 
    color: white;
    text-align: center;
}
.Banner ul li {
    text-align: center;
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}


.contact-section {
    color: white;
    background-color: #564646;
    padding: 20px;
    text-align: center;
}
.projects-section img {
    display: block;
    height: 300px;
    width: 300px;
}
.projects-section ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
  

